<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ascii-art-web</title>
  <style>
    form {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
    h1 {text-align: center;}
    select {text-align: center;}
	body {
    background: rgb(43, 41, 41); /* Цвет фона */
    color: #fc0; 
   }
  </style>
</head>  
<body> 
 </a>
  <h1>Ascii-art-web</h1>
  <form>
    <label>Insert your text</label>

    <div class = "box">
      <textarea name = "input" plaseholder = "Input text))))" style="width: 700px; height: 200px;">  </textarea>
    </div>
    <br><br>
    <label for="style">Choose:</label>
    <select name="cars" id="cars">
        <option value="standard">standard</option>
        <option value="shadow">shadow</option>
        <option value="thinkertoy">thinkertoy</option>
      </optgroup>
    </select> 
    <br><br>
    <input type="submit" value = "Submit"size="100"/>
    <br><br>
    <div class = "box">
      <textarea name = "input" plaseholder = "Input text))))" style="width: 700px; height: 200px;" readonly = "true">  </textarea>
    </div>
  </form>
</body>
</html>